body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.main-content{
    width: 56%;
    top: 0;
    left: 0;
    border: 1px solid rgba(128, 128, 128, 0.397);
    margin-left: 22%;
    overflow: hidden;
    padding-bottom: 10px;
}

.main-title {
    width: 98%;
    margin-left: 1%;
    font-size: 20px;
    border-bottom: 1px dashed rgba(132, 40, 90, 0.397);
    height: 30px;
}

.article {
    width: 98%;
    margin-left: 1%;
}

.date {
    padding-left: 3px;
    padding-right: 3px;
    float: left;
    color: #ffffff;
    background: #84285A;
}

.title {
    float: left;
    margin-left: 5px;
}

.num-box {
    float: left;
    border: 1px solid rgba(128, 128, 128, 0.397);
    width: 3.1%;
    margin-left: 2px;
    margin-bottom: 2px;
    text-align: center;
}

.num-box:hover {
    color: #ffffff;
    background: #84285A;
    opacity: 0.8;
}

.active-page {
    color: #ffffff;
    background: #84285A;
}

.num-page-title {
    border-Top: 1px dashed rgba(132, 40, 90, 0.397);
}